<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123747495525-848c1a8qjojpgbs1pogscb2gbs1et1s5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123747495525-848c1a8qjojpgbs1pogscb2gbs1et1s5</string>
	<key>API_KEY</key>
	<string>AIzaSyAoFa43fjg6Quj8gJaFvLv58SqDDyZcAsM</string>
	<key>GCM_SENDER_ID</key>
	<string>123747495525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Priv.MoveNLoose</string>
	<key>PROJECT_ID</key>
	<string>eatnloose</string>
	<key>STORAGE_BUCKET</key>
	<string>eatnloose.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:123747495525:ios:000e505d32037543f0608c</string>
</dict>
</plist>
